<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Product</title>
</head>
<body>
<h1>商品検索画面</h1>
<form action="/product" method="post">
商品名を入力<input type="text" name="keyword" th:value="${keyword1_value}" />
<input type="submit" value="送信">
</form>
<div th:each="product : ${productList}">
	<p th:text="${product.id}" />
	<p th:text="${product.name}" />
	<p th:text="${product.price}" />
	<a href="/cartAdd" th:href="@{/cartAdd(id=${'product.id'})}">カートに追加</a>
</div>


</body>
</html>